[submodule "balena-ads-b"]
	path = balena-ads-b
	url = https://github.com/ketilmo/balena-ads-b.git
[submodule "basicstation-docker"]
	path = basicstation-docker
	url = https://github.com/xoseperez/basicstation-docker.git
